<div class="product item-<%= product.id %>">
<h3><%= product.name %></h3>
<br>
<% if logged_in? %>
  <span><a href=<%= "/products/#{product.id}/edit" %> class="btn btn-primary pull-right">Bid</a></span>
<% end %>
<% if product.users_id %>
  Latest bid made by user with id:<span class="bidder"><%= User.find_by(id: product.users_id).id %></span>
<% end %>
<span class="btn btn-primary pull-right bid-price"><%=product.current_bid%></span>
<h3>Description: <small><%= product.description %></small><h3>
</div>
